/* FONTS */

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: 200
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 600
}

/* FONTS' end */

body{
  background: #fafafa;
  font-family: roboto;
  color: #212121;
}

#first-page{
  position: relative;
  display: block;
  margin-top: 0px;
  padding-top: 1px;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #00bcd4;
  color: #fafafa;
  text-align: center;
}
#first-page #logo{
  position: relative;
  display: inline-block;
  border:10px #fafafa solid;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 80px;
  margin-top: 15%;
}
#first-page #motto{
  position: relative;
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: 200;
}
#first-page #down{
  position: absolute;
  display: block;
  bottom: 100px;
  width: 45px;
  height: 45px;
  margin-left: 48.5%;
  text-align: center;
  border:5px #4dd0e1 solid;
  color: #80deea;
  font-size: 40px;
  transition: color 500ms, border-color 1s;
  -webkit-transition: color 500ms, border-color 1s;
  -moz-transition: color 500ms, border-color 1s;
}
#first-page #down:hover{
  color: #fafafa;
  border-color: #fafafa;
}

#content{
  position: relative;
  width: 90%;
  margin-left: 100px;
  overflow-x: hidden;
  height: auto;
}
#content .section{
  position: relative;
  height: auto;
  border-left:20px solid;
  padding: 100px;
  padding-left: 50px;
}
#content .section .title{
  position: relative;
  display: inline-block;
  padding: 20px;
  color: #fafafa;
  font-size: 30px;
}
#content .section p{
  position: relative;
  font-size: 48px;
  font-weight: 200;
  color: #424242;
}
#content .section a{
  position: relative;
  font-size: 72px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

#content #about.section {
  border-left-color: #00bcd4;
}
#content #about.section .title{
  background: #00bcd4;
}
#content #about.section a{
  color: #00bcd4;
}
#content #contact.section {
  border-left-color: #009688;
  font-size: 48px;
  font-weight: 200;
  color: #424242;
}
#content #contact.section .title{
  background: #009688;
}
#content #contact.section a{
  color: #009688;
}
#content #job.section {
  border-left-color: #212121;
  color: #212121;
}
#content #job.section .title{
  background: #212121;
}
#content #job.section a{
  color: #212121;
}
