@font-face {font-family: robotoSlabBold; src: url(/fonts/RobotoSlab-Bold.ttf);}
@font-face {font-family: robotoSlabLight; src: url(/fonts/RobotoSlab-Light.ttf);}
@font-face {font-family: robotoLight; src: url(/fonts/Roboto-Light.ttf);}
@font-face {font-family: roboto; src: url(/fonts/Roboto-Regular.ttf);}
@font-face {font-family: robotoLightItalic; src: url(/fonts/Roboto-LightItalic.ttf);}
@font-face {font-family: arciform; src: url(/fonts/Arciform.otf);}
html{width:100%; overflow-x:hidden !important}
body{
  background: #202020;
  color: white;
  width: 100%;
  font-family: robotoSlabLight;
}

.containerFull{
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.section{
  position: relative;
  display: block;
  padding-left: 100px;
}

.logo{
  position: relative;
  display: block;
  background: #47b934;
  text-align: center;
  height: 50px;
  width:50px;
  font-family: robotoSlabBold;
  font-size: 24pt;
  margin-top: 100px;
  margin-bottom: 100px;
}

.square{
  width: 100px;
  height: 100px;
  border: 10px solid rgba(255,255,255,.3);
}

.title{
  position: relative;
  display: block;
  font-family: arciform;
  font-size: 36pt;
  min-width: 550px;
  z-index: 1000;
  left: 25px;
  top: -86px;
}

.special{
  color:#47b934 !important;
}

.rect{
  position: relative;
  display: block;
  width: 100px;
  height: 10px;
  background: #47b934;
  margin-bottom: 100px;
}
.rect .special{
  display: block;
  position: relative;
  width: 100%;
  text-align: right;
  margin-left: 50px;
  top: -5px;
  font-family: robotoSlabBold;
  font-size: 9pt;
  letter-spacing: 5px;
}

.firstImage{
  max-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.firstImage img{
  width: auto;
  height: 100%;
  opacity: .5;
}

.divider{
  position: relative;
  display: block;
  height: 10px;
  width: 100%;
  background: white;
}

.work{
  margin-bottom: 200px;
}

.workImage{
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 76px 1px rgba(0,0,0,.5);
-moz-box-shadow: 10px 10px 76px 1px rgba(0,0,0,.5);
box-shadow: 10px 10px 76px 1px rgba(0,0,0,.5);
}

.workImage.squareImage{
  height: auto;
}

.workImage img{
  width: 100%;
  opacity: 0.9;
}

.workImage .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.workImage.squareImage .overlay{
  height: 100%;
}

.workImage .overlay a{
  position: absolute;
  color: #47b934;
  font-family: robotoSlabBold;
  text-transform:uppercase;
  letter-spacing: 3px;
  bottom: -23px;
  width: 150px;
  text-align: center;
  left: 50%;
  margin-left: -75px;
  padding: 10px;
  background: white;
}

.workImage.squareImage .overlay a{
  bottom: 
}

.workImage .overlay a:hover{
  background: #47b934;
  text-decoration: none;
  color: white;
}

.workSection{
  text-align: right;
  padding-left: 20px;
}

.work.left .workSection{
  text-align: left;
  padding-right: 20px;
  padding-left: 0;
}

.workSection .rect{
  position: relative;
  margin-bottom: 50px;
  float: right;
}

.work.left .workSection .rect{
  float: left;
}

.workSection :not(.rect){
  clear: right;
}

.work.left .workSection :not(.rect){
  clear: left;
}

.workSection .titleWork{
  position: relative;
  display: block;
  font-family: arciform !important;
  font-size: 30pt;
  z-index: 1000;
}

.workSection .category{
  position: relative;
  margin-bottom: 30px;
  font-family: robotoSlabBold;
  color: #47b934;
  letter-spacing: 5px;
}

.workSection .category:before{
  position: relative;
  content: "in ― ";
  color: rgba(255,255,255,.3);
  font-family: robotoLightItalic;
  letter-spacing: normal;
  font-style: italic;
  left: -5px;
}

.workSection .description{
  color: rgba(255,255,255,.3);
  font-family: robotoLight;
}

.comment{
  font-family: robotoLightItalic;
  color: rgba(255,255,255,.3);
  font-size: 24pt;
  margin-bottom: 100px;
}

.aboutPar{
  font-family: roboto;
  font-size: 12pt;
  margin-bottom: 100px;
}

.aboutPar a{
  color: #47b934;
  font-family: robotoSlabLight;
}

i{
  font-family: robotoLight;
  color: rgba(255,255,255,.6)
}

#buttonCopy{
  background: #202020;
  border: none;
  color: #47b934;
  font-family: robotoSlabLight;
  padding: 0;
  margin: 0;
}
#buttonCopy:hover, .aboutPar a:hover{
  text-decoration: none;
  cursor: pointer;
  background: #202020;
  color: rgba(71, 185, 52, 0.2);
}
#status {
  font-family: robotoLightItalic;
  color: rgba(255,255,255,.3)
}
#invisible {
  display: none;
}

@media only screen and (max-width: 600px) {
  
.section{
  padding: 25px;
  box-sizing: border-box !important;
  margin: auto;
}
  
.logo{
  position: relative;
  display: block;
  background: #47b934;
  text-align: center;
  height: 50px;
  width:50px;
  font-family: robotoSlabBold;
  font-size: 24pt;
  margin-top: 0;
  margin-bottom: 25px;
}

.square{
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255,255,255,.3);
}

.title{
  position: relative;
  display: block;
  font-family: arciform;
  font-size: 20pt;
  min-width: 100%;
  z-index: 1000;
  left: 16px;
  top: -40px;
}
  
  #titleFirst{
    position: absolute;
    width: 200%;
    top: 8px
  }
  #rectFirst{
    position: absolute;
    top: 120px;
  }
  
  .rect{
    width: 50px;
    height: 5px;
    margin-bottom: 25px;
  }
  
  .firstImage{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .firstImage img{
    width: auto;
    max-height: 300px !important;
  }

  .work{
    margin-bottom: 100px;
  }
  
  .workSection{
    text-align: left !important;
    padding: 20px !important;
    background: rgba(255, 255, 255, 0.15)
  }
  
  .work.left .rect{
    display: none;
  }
  
  .workSection .titleWork{
    position: relative;
    display: block;
    font-family: arciform !important;
    font-size: 18pt;
    letter-spacing: 3px;
    z-index: 1000;
  }
  
  .workSection .category{
    position: relative;
    margin-bottom: 30px;
    font-size: 8pt;
    font-family: robotoSlabBold;
    color: #47b934;
    letter-spacing: 5px;
  }
  .workSection .description{
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0;
  }

  .workSection .category:before{
    position: relative;
    content: "in ― ";
    color: rgba(255,255,255,.3);
    font-family: robotoLightItalic;
    letter-spacing: normal;
    font-style: italic;
    left: -5px;
  }

  .workSection .rect{opacity: 0; margin-bottom: 20px;}
  
  .comment{
    margin-bottom: 25px;
    font-size: 14pt;
    color: rgba(71, 185, 52, 0.5)
  }
  
  .padding{
    padding:0;
    margin:0;
  }
}